.App {
  text-align: center;
  width: 100%;
}
/*======================================= styles for login page =======================================*/
.login{
  width: 100%;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column ;
}
.login-inputs{
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 10px;
  align-items: center;
  text-align: center;
}
input{
  padding: 10px;
  width: 300px;
  border: 1px solid #cecece;
  margin: 10px 0;
}
small{
  color: red;
  margin-bottom: 10px;

}
.loginBtn{
  padding: 10px;
  width: 300px;
  border: 1px solid #cecece;
  margin: 10px 0;
  background-color: black;
  color: white;
}
/*==============================================================================*/
